<div class="toolbar">
  <div class="logo"><i class="fas fa-code"></i> MiApp</div>
  
  <div class="tools">
    <a routerLink="/educacion"><i class="fas fa-home"></i> Educación Financiera</a>
    <a routerLink="/notificaciones"><i class="fas fa-bell"></i> Notificaciones</a>
    <a routerLink="/comunidad"><i class="fas fa-comments"></i> Comunidad</a>
    <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
  </div>

  <div class="user">
    <img src="https://i.pravatar.cc/32" alt="Avatar">
    <span>Renzo</span>
  </div>
</div>

